.container {
    display: flex;
    background: whitesmoke;
    width: 100%;
    height: 800px;
    margin: 0, auto;
    flex-direction: column;
  }

.item {
height: 100px;
width: 100px;
flex-grow: 1;

}

.green {
    background-color: green;    
    order: 1;
}

.yellow {       
    background-color: yellow;
    flex-grow: 2;
    order: 3;
    }

.purple {
    background-color: purple;
    order: 2;
}