.container {
    background-color: black;
    display: grid;
    height: 450px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.purple-box {
    background-color: purple;
}

.green-box {
    background-color: green;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    justify-items: center;
    align-items: center
 }

.yellow-box {
    background-color: yellow;
    height: 220px;
    width: 70%;   
}
 