.container {
    display: flex;
    background: yellow;
    width: 100%;
    height: 400px;
    margin: 0, auto;
    align-items: flex-end;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: flex-end;

  }

.item {
    list-style: none;    
    background-color: purple;
    height: 80px;
    width: 80px;
    margin-right: 0px;
    margin-left: 5px;
}
