body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#display {
    width: 70%;
    height: 550px;
    background-color: gainsboro;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr 1fr 2fr;
}

#logo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    align-items: stretch;
    border: 2px solid black;
}

#logo > img {
    width: 50%;
    padding: 3%;
}

#current {
    border: 2px solid black;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;  
    justify-content: center;
    align-content: center;  
}

#addToPlaylist #addToFavourites #newPlaylist {
   width: 20px;
   height: 20px;
 }

#artwork {
    border: 2px solid black;
    grid-column: 2 / 3;
    grid-row: 1 / 5;
}

#playlists {
    border: 2px solid black;
    grid-column: 1 / 3;
    grid-row: 4 / 9;
}

#artwork {
    border: 2px solid black;
    grid-column: 2 / 3;
    grid-row: 1 / 5;
}

#tracks {
    border: 2px solid black;
    grid-column: 3 / 4;
    grid-row: 3 / 10;   
}

#control-panel {
    grid-row-start: 10;
    grid-column: 1 / 5;
    display: flex;
    grid-template-columns: 1fr 2fr;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}

audio {
    background-color:black;
    width: 100%;
}

.audio-buttons {
    padding: 25px;
}

audio::-webkit-media-controls-mute-button {
    color: red;
}

audio::-webkit-media-controls-panel {
    background: transparent;
}